h2 {
    font-weight: 700; 
    font-size: 36px; 
    color: #47A2D6;
  }

p{
    font-size: 20px;
    font-weight: 300;
}

.subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #47A2D6;
}

.mx-10 {
    max-width: 1440px;
    margin:auto;
}

.dest-card {
    border-radius: 12px;
}

.grad {
    margin-top: auto;
    height: 50%;
    background-image: linear-gradient(to top, rgb(43, 43, 43), rgba(255, 255, 255, 0));
}

.gradforum {
    margin-top: auto;
    height: 2px;
    background-image: linear-gradient(to top, rgb(43, 43, 43), rgba(255, 255, 255, 0));
}

.car-blue {
    background-color: #DDF3FF;
}

.navbar ul li .underline {
	height: 3px;
    margin-top: 0px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
}

.navbar ul li.active-link .underline {
	width: 100%;
	background-color: white;
}

.navbar ul li:hover .underline {
	background-color: white;
	width: 100%;
}

.navbar ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

#image-scroll {
    width: 300px;
    height: 60px;
    overflow: hidden;
}
#modules {
    height: 90px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

